* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: left;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #228b22;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.social-mk {
  background-color: #228b22;
}

.social {
  display: flex;
  height: 80px;
  align-items: center;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social-btn {
  position: relative;
  margin-right: 20px;
  width: 36px;
  height: 36px;
}

.social-icon {
  border: 1px solid white;
  border-radius: 50%;
}

.social-icon:hover {
  animation: rotate360 0.3s linear 1;
}

.email {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
}

.noti {
  font-size: 15px;
  color: white;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-transform: uppercase;
}

.mail-noti {
  display: flex;
  align-items: center;
  width: 345px;
  flex-flow: wrap;
}

.mail-form {
  position: relative;
  width: 100%;
}

.form-control {
  height: 38px;
  width: calc(100% - 84px);
  padding: 0 90px 0 15px;
  border: 1px solid #ebebeb;
  border-radius: 3px 0 0 3px;
}

.btn-submit {
  width: 84px;
  height: 38px;
  background-color: #37cd37;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 10px;
}

.first-footer {
  padding-top: 34px;
}

.logo {
  display: block;
  margin-bottom: 5px;
  position: relative;
}

.logo-title {
  font-style: italic;
  color: #228b22;
  font-size: 15px;
  margin-left: 5px;
}

.list-1 {
  padding-left: 0;
  margin-top: 0;
}

.list-content {
  display: flex;
  margin-bottom: 15px;
}

.title-menu {
  text-transform: uppercase;
  color: #228b22;
  margin-top: 45px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
}

.list-menu {
  list-style-type: none;
  padding-left: 0;
}

.li-menu {
  margin-bottom: 12px;
  font-size: 14px;
}

.icon-footer {
  margin-right: 5px;
}
