* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 500px;
}
.theme_color {
  color: #228b22;
}
a {
  text-decoration: none;
  color: initial;
}
header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid #228b22;
  position: sticky;
  /* top: 0; */
  background-color: white;
  z-index: 9999;
}
button {
  padding: 10px;
  background: none;
}
button:hover {
  cursor: pointer;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-0.l-0 .header_content {
  justify-content: flex-end;
}
.header_content a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
ul {
  list-style-type: none;
}
.dropdown_list a {
  display: block;
  font-weight: normal;
  padding: 12px 16px;
  /* border-bottom:thin solid #cdcfdd; */
  font-size: initial;
}
.dropdown_table {
  padding: 30px;
  overflow-y: scroll;
  height: 500px;
}
.dropdown_table .tablecol {
  display: block;
  width: 245px;
  margin: 0 10px;
}
.tablecol h3 a {
  color: #228b22;
  font-weight: bold;
  padding-bottom: 10px;
}
.tablecol .h3underline {
  border-bottom: 2px solid #cdcfdd;
  width: 50px;
}
.tablecol a {
  padding-bottom: 20px;
}
.dropdown_table a {
  display: block;
  font-weight: normal;
}
header .fa-bars {
  display: inline-block;
  margin: 0 10px;
}
.fa-user.dropdown .dropdown_list {
  right: 0;
}
a:hover {
  color: #228b22;
}
.dropdown {
  position: relative;
}
/* header .list::after{
      font-family: "Font Awesome 5 Free";
      content:"\f078";
      padding:0 5px;
      font-size: small;
      color: grey;
      transition: transform 0.3s ;
      display: inline-block;
  }
  header .list:hover::after{
      color: #228b22;
      transform: rotate(-180deg);
  } */

.list_1 {
  transition: transform 0.3s ease;
  margin-left: 5px;
}

.list:hover .list_1 {
  transform: rotate(-180deg);
}

header .dropdown:hover .dropdown_list {
  display: block;
}
header .dropdown:hover .header_search {
  display: block;
}
header .dropdown:hover .dropdown_table {
  display: flex;
}
.dropdown_list,
.dropdown_table {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_list {
  min-width: 100px;
  right: 0;
  top: 25px;
}

.admin {
  top: 10px !important;
}

.dropdown_table {
  top: 25px;
}
.log_in a {
  font-size: 20px;
  text-align: left;
  padding: 5px 10px;
}

.list .dropdown_list {
  min-width: 250px;
}
.icon .dropdown_list {
  text-wrap: nowrap;
}
.dropdown_table {
  left: -300px;
}
.header_search {
  border: 1px solid #cdcfdd;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  /* width: calc(100% - 70px); */
  /* max-width: 250px; */
  width: 250px;
}
.dropdown .header_search {
  display: none;
  position: absolute;
  right: 0;
}
input {
  margin: 10px 0;
  outline: none;
}
header input {
  border: none !important;
  width: 200px !important;
}
.icon {
  margin: 5px;
}

.item_counter_box {
  background-color: #228b22;
  position: absolute;
  width: 20px;
  height: 11px;
  border-radius: 10px;
  bottom: -6px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_counter {
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 0px 5px;
}
nav {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0;
  background-image: url(https://bizweb.dktcdn.net/100/363/455/themes/918830/assets/bg-breadcrumb.jpg?1704690471681);
}
nav i,
nav {
  font-size: small;
  color: green;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.login button {
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 5px;
  background-color: #228b22;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  width: 100%;
}
.main_box {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.c-12 .main_box {
  flex-direction: column;
  /* align-items: center; */
}
.c-12 .login {
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.login {
  border: 1px solid #228b22;
  padding: 30px;
  width: calc(100% - 290px);
}

h3 {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.login h3 {
  color: #228b22;
}
.member_benefit {
  background-color: #228b22;
  color: white;
  min-width: 290px;
  padding: 30px;
}
.member_benefit p {
  margin: 20px 0;
}
.member_benefit div {
  margin: 40px 0;
}
.login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cdcfdd;
}
input::placeholder {
  color: #cdcfdd;
}
.login label {
  font-weight: bold;
  margin: 10px 0;
}
.login_passwordrecovery a {
  border: 1px solid #228b22;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 20px;
  color: #228b22;
  font-weight: bold;
  font-size: medium;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  width: 100%;
}
.login_passwordrecovery a:hover {
  background-color: #228b22;
  color: white;
}

.member_benefit a {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
}
.member_benefit a:hover {
  border: none;
}
.login_alt,
.forget_password {
  text-align: center;
  margin: 20px 0;
}
.login_passwordrecovery {
  display: none;
}
