* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: left;
  line-height: 1.5;
}

.container {
  padding: 0 10px;
}

.child-container-1 {
  background-image: url(https://bizweb.dktcdn.net/100/363/455/themes/918830/assets/bg-breadcrumb.jpg?1704690471681);
  background-size: cover;
  margin-bottom: 20px;
  padding: 5px 0;
}

.side-nav {
  padding-left: 0;
  z-index: 0;
  position: relative;
}

.side-nav li {
  display: inline;
  padding-left: 0;
}

.sign {
  padding: 0 3px;
}

.side-nav li strong {
  color: #228b22;
  text-transform: uppercase;
}

.product {
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.item-image {
  padding: 34px 98px;
}

a {
  text-decoration: none;
}

.author {
  display: flex;
  font-size: 16px;
}

.title-head {
  font-size: 30px;
  margin-bottom: 10px;
}

.text-transform {
  text-transform: uppercase;
  font-weight: bold;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(36, 36, 255);
}

.price-box-product {
  padding: 20px 0 15px;
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 15px;
}

.special-price {
  font-size: 30px;
  color: green;
  font-weight: bold;
}

.old-price {
  margin-left: 10px;
}

.product-price-old {
  font-size: 20px;
  color: #777777;
  text-decoration: line-through;
}

.discount {
  margin-left: 15px;
  background-color: red;
  width: 49px;
  height: 23px;
  color: #fff;
  line-height: 23px;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  position: relative;
  top: -3px;
  font-weight: bold;
}

.form-product {
  margin-top: 10px;
}

.custom-number {
  height: 32px;
  margin-right: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

.btn-number {
  display: flex;
  justify-content: center;
  align-items: center;
}
#counter {
  font-size: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 32px;
  border: 1px solid black;
}
.btn-1 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 10px;
  height: 32px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
}

#counter {
  width: 35px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.btn-mua {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.btn-2 {
  width: 224px;
  height: 65px;
  font-size: 18px;
  font-weight: bold;
  display: inline;
  border-radius: 5px;
}

.btn-add {
  margin-right: 10px;
  color: #228b22;
  background-color: white;
}

.btn-add:hover {
  background-color: #228b22;
  color: white;
  transition: 0.2s;
}

.btn-buy {
  color: white;
  background-color: #228b22;
}

.btn-buy:hover {
  background-color: white;
  color: #228b22;
  transition: 0.2s;
}

.shop {
  display: flex;
  align-items: center;
}

.social-btn {
  margin-right: 20px;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social-icon:hover {
  animation: rotate360 0.2s linear 1;
}

.child-content {
  margin-top: 70px;
}

.title-tab {
  font-size: 20px;
  color: #228b22;
  margin-bottom: 20px;
  display: flex;
  padding: 0;
  margin-top: 0;
}

.context {
  margin-bottom: 40px;
}

.text {
  font-size: 16px;
  color: #3f3f40;
}

.book-info-detail {
  border: solid 1px #bbbbbf;
  padding: 15px 20px 5px;
  border-radius: 5px;
  margin-bottom: 40px;
}

ul {
  list-style: none outside;
}

li {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
}

.span-1,
.span-2 {
  width: 50%;
}

.span-2 {
  text-transform: uppercase;
  font-weight: bold;
}

.item-2 {
  border: solid 1px #bbbbbf;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  height: 124.512px !important;
}

.thumb {
  width: 196px;
}

.content-blog {
  width: calc(100% - 196px);
  padding: 10px 20px 15px;
}

.item-blog {
  display: flex;
}

.img-blog {
  width: 100%;
  height: auto;
}

h3 {
  font-size: 14px;
  max-height: 38px;
  overflow: hidden;
  margin-bottom: 9px;
  margin-top: 0 !important;
}

a:hover {
  color: #228b22;
}

.seen-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seen-more h3 {
  color: rgb(34, 139, 34);
  transition: color 0.3s ease;
}

.seen-more i {
  color: rgb(34, 139, 34);
  font-size: 25px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

/* css content-3 */
.content-3 {
  margin: 0 auto;
  width: 1200px;
  height: auto;
  border-top: 1px solid rgb(34, 139, 34);
  padding-top: 5px;
  box-sizing: border-box;
}

.top-content-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-content-3 h1,
h3 {
  margin: 0;
  color: rgb(34, 139, 34);
}

/* below content 3 */
.below-content-3 {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.below-content-3 a {
  width: 200px;
  height: auto;
}

.below-content-3 a li {
  list-style-type: none;
  width: 100%;
  height: 250px;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  position: relative;
}

.below-content-3 a li img {
  width: 100%;
  height: 100%;
}

/* set transition pic */
.below-content-3 a li img {
  transition: transform 0.5s ease;
}

.below-content-3 a .book-name-price {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.book-name-price h3 {
  text-align: center;
  font-size: 15px;
  color: #000;
  transition: color 0.3s ease;
}

.book-name-price h3,
h4 {
  margin: 0;
}

.below-content-3 .book-name-price .price-book {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.below-content-3 .book-name-price .price-book del {
  margin-left: 15px;
  color: #000;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.below-content-3 .book-name-price .price-book h3 {
  color: rgb(34, 139, 34);
  font-size: 18px;
}

.buy-cart {
  bottom: -45px;
  width: 100%;
  height: 45px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s ease-in-out;
}

.buy-cart .cart {
  width: 25%;
  height: 100%;
  color: rgb(34, 139, 34);
  background-color: #fff;
  border: 1px solid rgb(34, 139, 34);
  box-sizing: border-box;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.buy-cart .buy {
  width: 74%;
  height: 100%;
  color: #fff;
  background-color: rgb(34, 139, 34);
  border: 1px solid rgb(34, 139, 34);
  box-sizing: border-box;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

/* hover */
/* seen-more top-content-2 */
.seen-more:hover h3 {
  color: royalblue;
}

.pic-content-3-hover:hover li img {
  transform: scale(1.1);
}

/* set hover color book-name-price h3 */
.book-name-price:hover h3 {
  color: rgb(34, 139, 34);
}

/* set hover buy and cart  */
.pic-content-3-hover:hover .buy-cart {
  bottom: 0;
}

/* set hover cart and buy */
.cart:hover {
  color: #fff;
  background-color: rgb(34, 139, 34);
}
.buy:hover {
  color: rgb(34, 139, 34);
  background-color: #fff;
}

footer {
  margin-top: 40px;
}

.social-mk {
  background-color: #228b22;
}

.social {
  display: flex;
  height: 80px;
  align-items: center;
}

.social-btn {
  position: relative;
  margin-right: 20px;
  width: 36px;
  height: 36px;
}

.social-icon {
  border: 1px solid white;
  border-radius: 50%;
}

.social-icon:hover {
  animation: rotate360 0.3s linear 1;
}

.email {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
}

.noti {
  font-size: 15px;
  color: white;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-transform: uppercase;
}

.mail-noti {
  display: flex;
  align-items: center;
  width: 345px;
  flex-flow: wrap;
}

.mail-form {
  position: relative;
  width: 100%;
}

.form-control {
  height: 38px;
  width: calc(100% - 84px);
  padding: 0 90px 0 15px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.btn-submit {
  position: absolute;
  width: 84px;
  height: 38px;
  background-color: #37cd37;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 3px 3px 0;
}

.first-footer {
  padding-top: 34px;
}

.logo {
  display: block;
  margin-bottom: 5px;
  position: relative;
}

.logo-title {
  font-style: italic;
  color: #228b22;
  font-size: 15px;
  margin-left: 5px;
}

.list-1 {
  padding-left: 0;
  margin-top: 0;
}

.list-content {
  display: flex;
  margin-bottom: 15px;
}

.title-menu {
  text-transform: uppercase;
  color: #228b22;
  margin-top: 45px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
}

.list-menu {
  list-style-type: none;
  padding-left: 0;
}

.li-menu {
  margin-bottom: 12px;
  font-size: 14px;
}

.li-menu,
.list-content {
  padding-left: 0;
}

.icon-footer {
  margin-right: 5px;
}
